<html>
<head>
  <meta charset="utf-8">
  <title>Загрузка файлов</title>
 </head>
<body>
    <h1>Upload files</h1>
	<form method="post" enctype="multipart/form-data" action="multipleSave">
		File users: <input type="file" name="files"> <br/>
		File events: <input type="file" name="files"> <br/>
		<br /><br /><input type="submit" value="Upload"> 
	</form>
</body>
</html> 